In [1]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
from numpy.random import multivariate_normal, permutation
import pandas as pd
from pandas import DataFrame, Series

In [6]:
np.random.seed(20171121)

n0, mu0, variance0 = 20, [10, 11], 20
data0 = multivariate_normal(mu0, np.eye(2) * variance0, n0)
df0 = DataFrame(data0, columns=['x1', 'x2'])
df0['t'] = 0

n1, mu1, variance1 = 15, [18, 20], 22
data1 = multivariate_normal(mu1, np.eye(2)*variance1, n1)
df1 = DataFrame(data1, columns=['x1', 'x2'])
df1['t'] = 1

df = pd.concat([df0, df1], ignore_index=True)
train_set = df.reindex(permutation(df.index)).reset_index(drop=True)

In [7]:
train_set

           x1         x2  t
0   10.141687   7.929841  0
1    8.552773   4.814897  0
2   19.339149  20.588253  1
3    8.604959  11.589558  0
4    4.561757  15.749684  0
5   22.686395  17.003390  1
6   -1.913322  10.545427  0
7    5.992298  24.421330  1
8   16.298552  21.626837  1
9   15.097208  18.746252  1
10   9.996586   9.076948  0
11  14.002164  10.304280  0
12  13.966300   6.962189  0
13  14.369683  15.207104  0
14  19.003979  22.751399  1
15   4.378890   8.091412  0
16  20.381054  17.363518  1
17   8.828401  -5.128862  0
18  25.621024  20.503868  1
19  14.184071  13.155653  0
20   9.724093  15.424646  0
21  19.118343  18.446576  1
22  11.196227   6.789288  0
23  16.876720  19.188066  1
24  22.648548  19.370774  1
25   9.911906  12.296514  0
26  17.356720  20.150580  1
27   9.921336  16.220911  0
28  10.738370  14.597060  0
29  21.530597  21.509915  1
30  18.663753  30.448854  1
31  20.059271  25.172912  1
32   7.919735  15.751545  0
33   5.729897  19.543539  0
34   8.670133  12.426129  0

In [8]:
train_x = train_set[['x1', 'x2']].as_matrix()
train_t = train_set['t'].as_matrix().reshape([len(train_set), 1])

In [10]:
x = tf.placeholder(tf.float32, [None, 2])
w = tf.Variable(tf.zeros([2, 1]))
w0 = tf.Variable(tf.zeros([1]))
f = tf.matmul(x, w) + w0
p = tf.sigmoid(f)

sess = tf.Session()
sess.run(if.initialize_stop),